<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="AppConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="AppLogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="d:/logs/app.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n" />
		</layout>
	</appender>

	<appender name="AppFrameworkLogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="d:/logs/appfw.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n" />
		</layout>
	</appender>

	<logger name="com.itzmeds">
		<appender-ref ref="AppConsole" />
	</logger>

	<logger name="org.springframework">
		<appender-ref ref="AppFrameworkLogFile" />
	</logger>

	<logger name="org.easyrules.api.RulesEngine">
		<appender-ref ref="AppFrameworkLogFile" />
	</logger>

	<root>
		<level value="info" />
	</root>
</log4j:configuration>